---
import * as CONFIG from "../../config"
import { Frontmatter, MENU } from "../../config/index"
import SkipToContent from "./SkipToContent.astro"
import SidebarToggle from "./SidebarToggle.tsx"
import Search from "./Search/Search.tsx"
import ThemeModeToggle from "./ThemeModeToggle"
import GithubSvg from "~/assets/svgs/header/github.svg?raw"
// import LanguageSelector from "./LanguageSelector/index.tsx"
import LanguageSelector from "./LanguageSelector/LanguageSelector.astro"

import { localizePath } from "astro-i18next"
import i18next from "i18next"

import NotificationBanner from "~/features/notifications/components/NotificationBanner.astro"
import { clsx } from "~/lib"

export type Props = {
  frontmatter?: Frontmatter
  dark?: boolean
}
const { frontmatter, dark } = Astro.props

const backgroundColor = dark ? "#101010" : "#ffffff"

const textColor = dark ? "#FFF8F3" : ""

const section = frontmatter?.section ?? ""
---

<!-- Google Tag Manager (noscript) --><!-- <noscript></noscript><iframe
  src="https://www.googletagmanager.com/ns.html?id=GTM-N6DQ47T"
  height="0"
  width="0"
  style="display:none;visibility:hidden"></iframe> --><!-- End Google Tag Manager (noscript) --><!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-56SBDN1LL2"></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(...args) {
    window.dataLayer.push(args)
  }
  gtag("js", new Date())

  gtag("config", "G-56SBDN1LL2")
</script>

<header>
  <SkipToContent />
  <nav class="nav-wrapper" title="Top Navigation">
    <!-- <Logo></Logo> -->

    <div class="logo flex items-center">
      <a href={localizePath("/home")}>
        <span
          class={clsx(
            "inline-block w-[144px] h-[22px]  dark:bg-[url('/scroll-docs-white-800.svg')] bg-contain bg-no-repeat bg-center",
            dark ? "bg-[url('/scroll-docs-white.svg')]" : "bg-[url('/scroll-docs.svg')]"
          )}></span>
      </a>
    </div>
    <div class="right-box">
      <div class="navbar">
        {
          MENU[i18next.language].map((link) => (
            <a class="nav-link" href={link.link} aria-current={link.section === section}>
              {link.text}
            </a>
          ))
        }
      </div>
      <div class="tools" transition:persist>
        {
          CONFIG.ALGOLIA && (
            <div class="search-item">
              <Search client:visible />
            </div>
          )
        }
        <span class="theme-item">
          <ThemeModeToggle client:only="preact" dark={dark} />
        </span>
        <LanguageSelector class="language-selector" dark={dark} />
        <a href="https://github.com/scroll-tech/scroll-documentation" class="github-url" target="_blank" rel="nofollow">
          <span
            class={clsx(
              "inline-block w-[35px] h-[35px] dark:bg-[url('/assets/github-white-800.svg')] bg-contain bg-no-repeat bg-center",
              dark ? "bg-[url('/assets/github-white.svg')]" : "bg-[url('/assets/github.svg')]"
            )}></span>
        </a>
      </div>
      <div class="menu-toggle">
        <SidebarToggle client:idle dark={dark} />
      </div>
    </div>
  </nav>
</header>

<NotificationBanner />

<style define:vars={{ backgroundColor, textColor }}>
  /* Basic Styles */
  header {
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    @apply h-navbar bg-pure-white dark:bg-black;
    background-color: var(--backgroundColor);
  }

  .nav-link {
    line-height: 32px;
    padding-top: 7px;
    @apply text-black dark:text-white-800;
    color: var(--textColor);
    white-space: nowrap;
  }
  .nav-link:hover {
    @apply text-link;
  }

  .logo {
    display: flex;
    overflow: hidden;
    height: 40px;
    font-size: 2rem;
    flex-shrink: 0;
    font-weight: 600;
    line-height: 1;
    color: hsla(var(--color-base-white), 100%, 1);
    gap: 0.25em;
  }

  .logo a {
    display: flex;
    padding: 0.5em 0.25em;
    margin: -0.5em -0.25em;
    text-decoration: none;
    font-weight: bold;
    transition: color 100ms ease-out;
    @apply text-text;
  }
  .logo a:hover,
  .logo a:focus {
    @apply text-accent;
  }
  .logo h1 {
    display: none;
    font: inherit;
    color: inherit;
    margin: 0;
  }

  .logo span {
    /* height: 38px; */
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1.5em;
    width: 100%;
    margin: 0 1.25rem;
  }

  .spacer,
  .github-url,
  .navbar {
    display: none;
  }

  .right-box {
    display: flex;
    justify-content: space-between;
  }

  .tools {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    flex-direction: row-reverse;
  }

  .search-item {
    display: flex;
    position: relative;
    z-index: 10;
  }

  /* Media Queries */
  @media (min-width: 50em) {
    .logo {
      width: 183px;
    }
    .nav-wrapper {
      grid-template-columns: 1fr 3fr;
    }
    .spacer,
    .logo h1 {
      display: initial;
    }
    header {
      position: static;
    }
    .logo {
      margin: 0;
    }
    .menu-toggle {
      display: none;
    }
    .navbar {
      display: flex;
      gap: 45px;
      justify-content: center;
    }
    .navbar a[aria-current="true"] {
      font-weight: 600;
      @apply border-0 border-solid border-link;
    }

    .right-box {
      gap: 1.5em;
    }
    .tools {
      width: unset;
      flex-direction: row;
      flex: 1;
      gap: 8px;
      justify-content: flex-end;
    }
    .search-item {
      flex: 1;
      max-width: 346px;
    }
    .github-url {
      width: 35px;
      display: flex;
    }
  }

  @media (min-width: 72em) {
    .nav-wrapper {
      grid-template-columns: minmax(230px, 1fr) 5fr;
    }
  }

  /* Very Hacky way to make Spanish not break at narrow screens */

  @media (max-width: 72em) and (min-width: 50em) {
    .queryResults {
      grid-template-columns: 1fr !important;
    }

    .search-item,
    .github-url {
      display: none;
    }
  }

  @media (max-width: 62em) and (min-width: 50em) {
    .theme-item {
      display: none;
    }
  }

  @media (max-width: 58em) and (min-width: 50em) {
    .tools {
      transform: scale(0.85);
    }

    .navbar {
      gap: 25px;
    }
  }
</style>
