---
import HeadCommon from "../components/HeadCommon.astro"
import HeadSEO from "../components/HeadSEO.astro"
import Header from "../components/Header/Header.astro"
import * as CONFIG from "../config"
import Footer from "~/components/Footer/Footer.astro"
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro"

const { content = {} } = Astro.props
const currentPage = new URL(Astro.request.url).pathname
const formattedContentTitle = content.title
  ? `${content.title} | ${CONFIG.SITE.title}`
  : `${CONFIG.PAGE.titleFallback} | ${CONFIG.SITE.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html transition:animate="none" dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO content={content} canonicalURL={canonicalURL} site="" />
    <title>{formattedContentTitle}</title>
    <style>
      body {
        --doc-padding: 65px;
      }

      .home-layout {
        margin-bottom: 0;
      }

      #grid-left {
        position: fixed;
        z-index: 10;
        display: none;
        @apply bg-pure-white dark:bg-black;
      }

      @media (min-width: 50em) {
        #grid-left {
          display: flex;
          position: sticky;
          grid-column: 1;
          background: transparent;
        }
      }
    </style>
    <style is:global>
      .search-item {
        display: none !important;
      }

      .mobile-sidebar-toggle {
        overflow: hidden;
      }
      .mobile-sidebar-toggle #grid-left {
        display: block;
        top: 2rem;
        left: 0;
        padding: 0 20px;
        height: calc(100vh - 20px);
      }
    </style>
    <script is:inline>
      var themeMode = localStorage.getItem("THEME_MODE")

      if (themeMode === "dark") {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
    </script>
    <script>
      document.addEventListener("astro:after-swap", () => {
        const themeMode = localStorage.getItem("THEME_MODE")
        themeMode === "dark"
          ? document.documentElement.classList.add("dark")
          : document.documentElement.classList.remove("dark")
      })
    </script>
  </head>
  <body>
    <Header dark />
    <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
      <LeftSidebar currentPage={currentPage} {content} />
    </aside>
    <main class="home-layout">
      <slot />
    </main>
    <Footer />
  </body>
</html>
