---
import HeadCommon from "../components/HeadCommon.astro"
import HeadSEO from "../components/HeadSEO.astro"
import Header from "../components/Header/Header.astro"
import * as CONFIG from "../config"
// import { NewsletterCTA } from "../components/Footer/NewsletterCTA.tsx"
import Footer from "~/components/Footer/Footer.tsx"
import LeftSidebar from "~/components/LeftSidebar/LeftSidebar.astro"

const { content = {} } = Astro.props
const currentPage = new URL(Astro.request.url).pathname

const formattedContentTitle = content.title
  ? `${content.title} | ${CONFIG.SITE.title}`
  : `${CONFIG.PAGE.titleFallback} | ${CONFIG.SITE.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html dir={content.dir ?? "ltr"} lang={content.lang ?? "en-us"} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {content} {canonicalURL} />
    <title>{formattedContentTitle}</title>
    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: var(--theme-navbar-height) 1fr;
        --gutter: var(--space-6x);
        --doc-padding: 2rem;
      }
      .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: minmax(0, var(--max-width));
        overflow-x: hidden;
        justify-content: center;
      }

      .grid-sidy {
        top: 0;
        padding: 0;
      }
      #grid-left {
        position: fixed;
        z-index: 10;
        display: none;
        @apply bg-bg;
      }
      #grid-main {
        padding: 0 var(--gutter);
        grid-column: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        top: 2rem;
      }
      @media (min-width: 50em) {
        .layout {
          overflow: initial;
          grid-template-columns: minmax(0, var(--fullwidth-max-width));
          gap: 3em;
        }
      }
      @media (min-width: 72em) {
        .layout {
          /* grid-template-columns: min(calc(1440px - 2 * var(--space-16x)), calc(100% - 2 * var(--space-16x))); */
          grid-template-columns: 100%;
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
        }
        #grid-main {
          padding: 0;
        }
      }
    </style>

    <style is:global>
      .layout > * {
        width: 100%;
        height: 100%;
      }
      .mobile-sidebar-toggle {
        overflow: hidden;
      }
      .mobile-sidebar-toggle #grid-left {
        display: block;
        top: 2rem;
        padding: 0 20px;
      }
      /** This is done to hide the search box in the homepage. CSSModules styles are taking precedence over other styles so !important was needed **/
      @media (min-width: 50em) {
        .search-item {
          visibility: hidden !important;
        }
      }
    </style>
    <script is:inline>
      const themeMode = localStorage.getItem("THEME_MODE")

      if (themeMode === "dark") {
        document.documentElement.classList.add("dark")
      } else {
        document.documentElement.classList.remove("dark")
      }
    </script>
  </head>
</html>

<body>
  <Header />
  <main class="layout">
    <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
      <LeftSidebar currentPage={currentPage} content={content} />
    </aside>
    <div id="grid-main">
      <slot />
    </div>
  </main>
  <!-- <NewsletterCTA client:visible />
  <Footer /> -->
  <Footer client:idle />
</body>
